go 1.24.5

use (
	./go-services/api-gateway
	./go-services/auth-service
	./go-services/file-service
	./go-services/notification-service
	./go-services/permission-service
	./go-services/user-service
	./go-services/webhook-service
	./go-services/workspace-service
)
